mixin featured-video(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.featured-video(class=spec.__class)&attributes(attributes)
    .container
      .video-wrap
        //- video.video-player(poster=spec.__poster playsinline muted)
        //-   // WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
        //-   source(src=spec.__video type='video/mp4')
        iframe(src=spec.__vimeo frameborder='0' width='100%' height='100%' allow='autoplay; fullscreen' title=spec.__title webkitallowfullscreen mozallowfullscreen allowfullscreen)

